auto-save-list
recentf
semanticdb
abbrev_defs
*.dat
ac-comphist.dat
ede-projects.el
projectile.cache
projectile-bookmarks.eld
srecode-map.el
*~
/elpa/archives/
/elpa/gnupg/
org/*.org
org/*.html
org/*.pdf
org/images/
bookmarks
README.html
eshell/